---
import { getLangFromUrl } from '../i18n/utils'
import LangSelector from './LangSelector.astro'
import { Icon } from 'astro-icon/components'

const lang = getLangFromUrl(Astro.url)

const routes = [
  {
    name: 'Home',
    path: `/${lang}`
  },
  {
    name: 'Blog',
    path: `/${lang}/blog`
  }
]
---

<nav class="w-full py-8 border-b-[1px] border-b-gray-300/40">
  <div class="mx-auto flex items-center justify-between">
    <a href={`/${lang}`} class="font-bold text-2xl">
      Mardroide
    </a>
    <ul class="flex items-center gap-6">
      {
        routes.map((route) => (
          <li>
            <a
              href={route.path}
              class={
                Astro.url.pathname === route.path
                  ? 'underline decoration-2 decoration-wavy underline-offset-4'
                  : null
              }
            >
              {route.name}
            </a>
          </li>
        ))
      }
      <LangSelector />
      <a href={`/${lang}/search`}>
        <Icon
          name="mingcute:search-2-line"
          class="size-6 hover:text-blue-500"
        />
      </a>
    </ul>
  </div>
</nav>
