---
import type { Project } from '../types/types'
import RepoLanguage from './RepoLanguage.astro'

interface Props {
  project: Project
}

const { project } = Astro.props
---

<a
  href={project.link}
  target="_blank"
  id="project"
  class="relative flex flex-col justify-between w-full p-4 min-h-40 lightSecondary"
>
  <div class="flex flex-col gap-2">
    <h2 class="font-bold text-xl">{project.repo}</h2>
    <p class="text-gray-600 text-sm">{project.description}</p>
  </div>
  <RepoLanguage color={project.languageColor} lang={project.language} />
</a>
