---
const { bgColor, textColor, label } = Astro.props
---

<a
  href=`?tag=${label.toLowerCase()}`
  class="tag-badge"
  style={{
    borderColor: `var(${textColor})`,
    color: `var(${textColor})`,
    backgroundColor: `var(${bgColor})`
  }}
>
  {label}
</a>

<style is:inline>
  .tag-badge {
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    text-decoration: none;
  }
</style>
